body {
    text-align: center;
    background-image: url(https://media.istockphoto.com/vectors/dog-bone-seamless-pattern-paw-vector-french-bulldog-pug-isolated-vector-id948486628) ;
    position: relative;
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}



img {
    border: solid 2px black;
    border-radius: 50%;
    
}

#dogReturn {
    text-align: center;
}

.description {
    border-style: dashed;
    background-color:white;
    font-family: 'Nerko One', cursive;

}

a img {
    border:dashed  black;
}

#start-btn {
    background-color: pink;
    color:black;
    border-radius: 50%;
    border-color: black;
}

h3 {
    font-family: 'Nerko One', cursive;
}

.questions-section {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    font-family: 'Nerko One', cursive;
    border-radius: 0 0 50px 50px;
    background-color: white;
    width: 50%;
    margin-top: 300px;
}

.choice-1 {
    background-color:pink;
    border:solid 2px;
    border-color:black;
}

.choice-2 {
    background-color:pink;
    border:solid 2px;
    border-color:black;
}

.choice-3 {
    background-color:pink;
    border:solid 2px;
    border-color:black;
}

.next-question {
    background-color:rgb(97, 43, 52);
    border:solid 2px;
    border-color:black;
}

.view-results {
    background-color:rgb(177, 5, 33);
    border:solid 2px;
    border-color:black;
}





    
